$primary-color: #536edd;
$secondary-color: #abbbee;
$tertiary-color: #20399e;
$legend-0-color: #d4d4d4;
$legend-1-color: #13ff4b;
$legend-2-color: #fffb13;
$legend-3-color: #ff1313;

$size-xxl: 1100px;
$size-xl: 790px;
$size-xs: 370px;

$left-bar-width: 12rem;
$vertical-line-width: 0.5rem;
