// Media Size
$size-xxl: 1200px;
$size-xl: 992px;
$size-x: 768px;
$size-m: 600px;
$size-s: 480px;
$size-xs: 320px;
$size-xxs: 200px;

// Colors
$primary-color: #222222;
$secondary-color: #777777;
$tertiary-color: #000000;

$background-color: linear-gradient(135deg, #f5576c, #c608dc);
$panel-color: rgba($color: #000000, $alpha: 0.3);
$panel-border-radius: 8px;

$border: #ffffff8a;
$border-hover: #ffffff;

$add-btn-color: #0f9600;
$update-btn-color: #0c00b4;
$delete-btn-color: #d60000;

$legend-0-color: #d4d4d4;
$legend-1-color: #00d131;
$legend-2-color: #d3cf00;
$legend-3-color: #ca0000;

// Classes

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid $border;
  color: white;
  background-color: transparent;
  padding: 0;
  margin: 0;
  transition: 0.3s ease-in;
  transition-property: background-color border-color;

  &:hover {
    border-color: $border-hover;
  }

  &:focus {
    outline: none;
  }
}

// Animations

// Fade

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: 300ms;
}

// Fade Zoom

.fade-zoom-enter {
  transform: scale(0);
  opacity: 0;
}

.fade-zoom-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: 300ms;
}

.fade-zoom-exit {
  transform: scale(1);
  opacity: 1;
}

.fade-zoom-exit-active {
  transform: scale(0);
  opacity: 0;
  transition: 300ms;
}

// Slide Up

.slide-up-enter {
  opacity: 0;
  transform: translateY(2rem);
}

.slide-up-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 300ms;
}

.slide-up-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-up-exit-active {
  opacity: 0;
  transform: translateY(2rem);
  transition: 300ms;
}
