@import "infoBar";

#header-bar {
  display: flex;
  background-color: $tertiary-color;
  height: 4rem;
  width: 100%;

  @media (max-width: $size-xl) {
    height: 8rem;
  }
}

#add-number-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border: 0 solid white;
    border-radius: 50%;
    background-color: #14c400;
    color: white;
    font-size: 1.5rem;
    padding: 0;
    transition: background-color 0.3s ease-in;
    margin: 0;

    &:hover {
      background-color: lighten($color: #14c400, $amount: 20%)
    }

    &:focus {
      outline: none;
    }
  }
}
