#manage-panel {
  display: flex;
  overflow: hidden;
}

.manage-panel-item {
  background-color: $panel-color;
  border-radius: $panel-border-radius;
  width: 15rem;
  min-width: 15rem;
  height: 4rem;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  @media (max-width: $size-x) {
    min-width: 10rem;
    width: 10rem;
  }
}

.manage-panel-form {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  input[name="number"] {
    width: 8rem;
    margin: auto;
    border: 0 solid white;
    border-radius: 4px;
    color: white;
    padding: 0.3rem;
    font-weight: 600;
    z-index: 1;
    background-color: $panel-color;
    font-size: 1rem;
    transition: background-color 0.3s ease-in;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.6);
    }

    &:focus {
      outline: 0;
      outline-offset: 0;
    }

    @media (max-width: $size-x) {
      width: 5rem;
    }
  }

  .buttons-container {
    top: 0.5rem;
    left: 0;
    width: 100%;
    height: 3rem;
    position: absolute;

    .update-btn {
      background-image: $update-btn-color;
      font-size: 1rem;
      position: absolute;
      top: 0;
      left: 0.5rem;
      width: 2rem;
      height: 100%;
      border-bottom: 3px solid #07006a;
      border-right: 3px solid #07006a;

      &:hover {
        background-image: $update-btn-hover-color;
      }

      @media (max-width: $size-x) {
        left: 0.3rem;
        width: 1.5rem;
      }
    }

    .delete-btn {
      background-image: $delete-btn-color;
      font-size: 1.5rem;
      position: absolute;
      top: 0;
      right: 0.5rem;
      width: 2rem;
      height: 100%;
      border-bottom: 3px solid #990000;
      border-right: 3px solid #990000;

      &:hover {
        background-image: $delete-btn-hover-color;
      }

      @media (max-width: $size-x) {
        right: 0.3rem;
        width: 1.5rem;
      }
    }
  }
}
