#manage-panel {
  display: flex;
  overflow: hidden;
}

.manage-panel-item {
  background-color: $panel-color;
  border-radius: $panel-border-radius;
  width: 15rem;
  min-width: 15rem;
  height: 4rem;
  position: relative;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  @media (max-width: $size-x) {
    min-width: 10rem;
    width: 10rem;
  }
}

.manage-panel-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  input[name="number"] {
    width: 8rem;
    margin: auto;
    border: 1px solid $border;
    border-radius: 4px;
    color: white;
    padding: 0.3rem;
    font-weight: 600;
    z-index: 1;
    background-color: transparent;
    font-size: 1rem;
    transition: border-color 0.3s ease-in;

    &:hover {
      border-color: $border-hover;
    }

    &:focus {
      outline: 0;
      outline-offset: 0;
    }

    @media (max-width: $size-x) {
      width: 5rem;
    }
  }
}

.buttons-container {
  top: 0.5rem;
  left: 0;
  width: 100%;
  height: 3rem;
  position: absolute;

  .update-btn {
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0.5rem;
    width: 2rem;
    height: 100%;

    &:hover {
      background-color: $update-btn-color;
    }

    @media (max-width: $size-x) {
      left: 0.3rem;
      width: 1.5rem;
    }
  }

  .delete-btn {
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0.5rem;
    width: 2rem;
    height: 100%;

    &:hover {
      background-color: $delete-btn-color;
    }

    @media (max-width: $size-x) {
      right: 0.3rem;
      width: 1.5rem;
    }
  }
}
