#numbers-counter {
  min-width: 18rem;
}

#numbers-counter-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  height: 3.5rem;
}

#numbers-count {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  width: 4rem;
  height: 2rem;
  margin: 0 1rem;
  border: 3px solid white;
  border-radius: 10%;
  color: white;
  font-size: 1.5rem;
}

#numbers-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: 0 solid white;
  border-radius: 50%;
  background-color: #c40000;
  color: white;
  font-size: 1.5rem;
  padding: 0;
  transition: border 0.1s ease-in;
  margin: 0;

  &:hover {
  border: 2px solid white;

  }
}
